

<li style="font-size:14px;"><a href="/charts/pie_chart">饼图</a></li>
<li style="font-size:14px;"><a href="/charts/graph_chart">柱状图</a></li>
<li style="font-size:14px;"><a href="/charts/line_chart">线状图</a></li>
<li style="font-size:14px;"><a href="/charts/line_dot">线条图</a></li>
<li style="font-size:14px;"><a href="/charts/hbar">横柱图</a></li>
