

<div class="wrapper">
  <ul class="footer-menu">
    <li><a href="/pages/about">关于我们</a></li>
    <li><a href="/pages/progress">网站历史</a></li>
    <li><a href="/pages/join">加入我们</a></li>
    <li><a href="/events">线下活动</a></li>
    <li><a href="/accounts">用户群体</a></li>
    <li><a href="/feeds.atom" title="Rss Feed">Rss Feed</a></li>
  </ul>
  <br />
  All rights resolved by <a href="/">Thoughtrails.com</a> 2010
</div>
