
<a href="/books/19-pragmatic-metaprogramming-ruby-feb-2010">
  <img alt="Cover_metaprogramming ruby" src="/system/pictures/38/cover_Metaprogramming Ruby.png" />
</a>
<p class="promote">
  <a href="/books/19-pragmatic-metaprogramming-ruby-feb-2010">Metaprogramming Ruby</a>
</p>
