<div class="navigator">
  <a href="/" title="分享最佳实践">
		<img alt="add episode" src="/images/share_hover.gif"/>
	</a>
  <a href="/" title="ask_question">
		<img alt="add question" src="/images/question_hover.gif" />
	</a>
  <a href="/" title="ask_gem">
		<img alt="add gem" src="/images/add_gem.gif"/>
	</a>
  </div>

<div class="navigator category">
  <h4>按栏目浏览</h4>
  <dl>
    <dd><a href="/">ruby on rails 开发 (122)</a></dd>
		<dd><a href="/">开发环境/服务器部署与优化 (38)</a></dd>
		<dd><a href="/">插件、工具和代码库 (33)</a></dd>
		<dd><a href="/">前端开发 (8)</a></dd>
		<dd><a href="/">未分栏目 (4)</a></dd>
  </dl>
</div>

<div class="navigator subject">
  <h4>按内容浏览</h4>
  <dl>
		<dd><a href="/">敏捷开发最佳实践 (100篇)</a></dd>
		<dd><a href="/">GemDigger (已digger了15个)</a></dd>
		<dd><a href="/">问题交流 (29个已解决, 76个待解决)</a></dd>
		<dd><a href="/">职位招聘 (已提供29个职位)</a></dd>
		<dd><a href="/">书籍资料 (已经提供19本)</a></dd>
  </dl>
</div>

<div class="navigator recommend-books">
  <h4>推荐书籍</h4>
  <dl>
		<a href="/books/19-pragmatic-metaprogramming-ruby-feb-2010">
		  <img alt="Cover_metaprogramming ruby" src="/system/pictures/38/cover_Metaprogramming Ruby.png" />
		</a>
		<p class="promote">
		  <a href="/">Metaprogramming Ruby</a>
		</p>
  </dl>
</div>

<div class="navigator tags">
  <h4>热门标签浏览</h4>
  <ul class="tags">
		<li><span class="user_flag"><a href="/">rails3</a></span></li>
		<li><span class="user_flag"><a href="/">plugin</a></span></li>
		<li><span class="user_flag"><a href="/">rails</a></span></li>
		<li><span class="user_flag"><a href="/">environment</a></span></li>
		<li><span class="user_flag"><a href="/">model</a></span></li>
		<li><span class="user_flag"><a href="/">memcached</a></span></li>
		<li><span class="user_flag"><a href="/">design pattern</a></span></li>
		<li><span class="user_flag"><a href="/">tools</a></span></li>
		<li><span class="user_flag"><a href="/">linux</a></span></li>
		<li><span class="user_flag"><a href="/">ruby</a></span></li>
  </ul>
</div>