

<div class="navigator">
  <a href="/profile/episodes/new" title="分享最佳实践"><img alt="add episode" src="/images/share_hover.gif" /></a>
  <a href="/profile/questions/new" title="ask_question"><img alt="add question" src="/images/question_hover.gif" /></a>
  <a href="/profile/gems/new" title="ask_gem"><img alt="add gem" src="/images/add_gem.gif" /></a>
  </div>
