

<dd><a href="/episodes">敏捷开发最佳实践 (100篇)</a></dd>
<dd><a href="/gems">GemDigger (已digger了15个)</a></dd>
<dd><a href="/questions">问题交流 (29个已解决, 76个待解决)</a></dd>
<dd><a href="/jobs">职位招聘 (已提供29个职位)</a></dd>
<dd><a href="/books">书籍资料 (已经提供19本)</a></dd>

