

<li><span class="user_flag"><a href="/tags/rails3">rails3</a></span></li>
<li><span class="user_flag"><a href="/tags/plugin">plugin</a></span></li>
<li><span class="user_flag"><a href="/tags/rails">rails</a></span></li>
<li><span class="user_flag"><a href="/tags/environment">environment</a></span></li>
<li><span class="user_flag"><a href="/tags/model">model</a></span></li>
<li><span class="user_flag"><a href="/tags/memcached">memcached</a></span></li>
<li><span class="user_flag"><a href="/tags/design%20pattern">design pattern</a></span></li>
<li><span class="user_flag"><a href="/tags/tools">tools</a></span></li>
<li><span class="user_flag"><a href="/tags/linux">linux</a></span></li>
<li><span class="user_flag"><a href="/tags/ruby">ruby</a></span></li>
