

<strong><a href="/" title="首页">首页</a></strong> |
<strong><a href="/charts" title="图表">图表</a></strong> |
<strong><a href="/users">用户群体</a></strong> |
<strong><a href="/signup" title="注册">注册</a></strong> |
<strong><a href="/user_session/new" title="登录">登录</a></strong>
