    
    
    <div id="mainCol">
      <div class="clearfix">
        <h2>
					最新实践分享
					<span class="kicker">
						最近发布的敏捷开发最佳实践 <em style="float:right;"><a href="/">浏览更多</a></em>
					</span>
				</h2>
        <ul class="latest">
          <li>
            <a title="rails seed 中使用 paperclip 保存图片 " class="link" href="/">
              <span title="rails seed 中使用 paperclip 保存图片 " class="title">
								<span>rails seed 中使用 paperclip 保存图片 </span>
							</span>
              <span class="details">2 个回复, 136 次浏览</span>
            </a>
            <div class="contributor">
              <span class="user_flag">
                <a href="/">
									<img alt="" height="20" src="/images/person.jpg" width="20" />
								</a>
                <a href="/">vkill</a>
              </span>
            </div>
            <div class="tags">
              <span class="tag_flag">
                <a href="/">paperclip</a> &nbsp;
              </span>
            </div>
          </li>

          <li>
            <a title="memcached 深度解析（二）" class="link" href="/">
              <span title="memcached 深度解析（二）" class="title"><span>memcached 深度解析（二）</span></span>
              <span class="details">0 个回复, 176 次浏览</span>
            </a>
            <div class="contributor">
              <span class="user_flag">
                <a href="/">
									<img alt="" height="20" src="/images/quate.jpg" width="20" />
								</a>
                <a href="">yuren</a>
              </span>
            </div>
            <div class="tags">
              <span class="tag_flag">
                <a href="">memcached</a> &nbsp;
              </span>
            </div>
          </li>
           <li>
            <a title="rails seed 中使用 paperclip 保存图片 " class="link" href="/">
              <span title="rails seed 中使用 paperclip 保存图片 " class="title"><span>rails seed 中使用 paperclip 保存图片 </span></span>
              <span class="details">2 个回复, 136 次浏览</span>
            </a>
            <div class="contributor">
              <span class="user_flag">
                <a href="/">
									<img alt="" height="20" src="/images/vkill.jpg" width="20" />
								</a>
                <a href="/">vkill</a>
              </span>
            </div>
            <div class="tags">
              <span class="tag_flag">
                <a href="/">paperclip</a> &nbsp;
              </span>
            </div>
          </li> 
        </ul>
      </div>

      <div class="clearfix">

      <h2>最新问题<span class="kicker">开发中遇到疑问吗？赶紧把你的问题和大家分享吧！ <em style="float:right;"><a href="/">浏览更多</a></em></span></h2>
      <ul class="latest">
        <li>
          <a title="Centos如何部署Rails3+MongoDB环境" class="link" href="/">
            <span title="Centos如何部署Rails3+MongoDB环境" class="title"><span>Centos如何部署Rails3+MongoDB环境</span></span>
            <span class="details">2 个回答, 129 次浏览</span>
          </a>
          <div class="contributor">
            <span class="user_flag">
              <a href="/" title="查看{{name}}的个人资料页"><img alt="" height="20" src="/images/jesaica.jpg" width="20" /></a>
              <a href="/" title="查看{{name}}的个人资料页">jesaica</a>
            </span>
          </div>
          <div class="tags">
            <span class="tag_flag">
              <a href="/">rails3</a> &nbsp;
            </span>
            <span class="tag_flag">
              <a href="/">gem</a> &nbsp;
            </span>
            <span class="tag_flag">
              <a href="/">mongodb</a> &nbsp;
            </span>
          </div>
        </li>
        <li>
          <a title="禁用cookie的浏览器如何读取用户信息" class="link" href="/">
            <span title="禁用cookie的浏览器如何读取用户信息" class="title"><span>禁用cookie的浏览器如何读取用户信息</span></span>
            <span class="details">0 个回答, 140 次浏览</span>
          </a>
          <div class="contributor">
            <span class="user_flag">
              <a href="/" title="查看{{name}}的个人资料页"><img alt="" height="20" src="/images/minix.jpg" width="20" /></a>
              <a href="/" title="查看{{name}}的个人资料页">minix</a>
            </span>
          </div>
          <div class="tags">
            <span class="tag_flag">
              <a href="/">rails</a> &nbsp;
            </span>
          </div>
        </li>
        <li>
          <a title="Centos如何部署Rails3+MongoDB环境" class="link" href="/">
            <span title="Centos如何部署Rails3+MongoDB环境" class="title"><span>Centos如何部署Rails3+MongoDB环境</span></span>
            <span class="details">2 个回答, 129 次浏览</span>
          </a>
          <div class="contributor">
            <span class="user_flag">
              <a href="/" title="查看{{name}}的个人资料页"><img alt="" height="20" src="/images/jesaica.jpg" width="20" /></a>
              <a href="/" title="查看{{name}}的个人资料页">jesaica</a>
            </span>
          </div>
          <div class="tags">
            <span class="tag_flag">
              <a href="/">rails3</a> &nbsp;
            </span>
            <span class="tag_flag">
              <a href="/">gem</a> &nbsp;
            </span>
            <span class="tag_flag">
              <a href="/">mongodb</a> &nbsp;
            </span>
          </div>
        </li>
      </ul>
    </div>

     <div class="clearfix">
      <h2>活跃用户<span class="kicker">参与到网站当中，分享你的最佳实践、回答他人的问题、添加回复等等都可以给你带来积分！</span></h2>
      <br />
      <ul class="betatesters">
        <li>
          <span class="user_flag">
            <a href="/" title="查看{{name}}的个人资料页"><img alt="" height="20" src="/images/jerry.jpg" width="20" /></a>
            <a href="/" title="查看{{name}}的个人资料页">jerry</a>
          </span>
        </li>
        <li>
          <span class="user_flag">
            <a href="/" title="查看{{name}}的个人资料页"><img alt="" height="20" src="/images/vkill.jpg" width="20" /></a>
            <a href="/" title="查看{{name}}的个人资料页">git8023</a>
          </span>
        </li>
      </ul>
    </div>

    <div class="bookmarks">
      <ul class="navigation">
        <li class="active" id='menu_1'>
          <span>按分享时间浏览</span>
        </li>
        <li id='menu_2'>
          <span>按浏览次数浏览</span>
        </li>
        <li id='menu_3'>
          <span>测试菜单</span>
        </li>
      </ul>
    </div>

    <div class="section">
      <ul class='list' id='list_menu_1'>
        <li class="clearfix episode_119">
          <a href="/" class="mini_profile_icon"><img alt="" height="30" src="/images/quate.jpg" width="30" /></a>

          <div class="me_too">
            <div class="inset">
              <div class="me_too_action active">
                <a href="/" class="me_too_link" data-method="put" rel="nofollow" title="给这篇实践投票"><img alt="*" class="star" src="/images/sprite_screen.png" /><strong>0 次投票</strong></a>
              </div>
            </div>
          </div>

          <div class="topic_details">
            <a href="/" class="subject">rake auto generate i18n.zh-CN.activerecord </a>
            <div class="meta">
              <div>
                <a href="/" class="creator_name">vkill</a>
                分享于 16 天 前,
                <a href="/">0 条回复</a>, 
                <span>92 次浏览</span>
              </div>
            </div>
            <div>
              <ul class="tags">
                <li><span class="user_flag"><a href="/">rake activerecord</a></span></li>
              </ul>
              <p>rails中自动生成 config/locales/zh-CN.model.yml</p>
            </div>
          </div>
        </li>
        <li class="clearfix episode_118">
          <a href="/" class="mini_profile_icon"><img alt="" height="30" src="/images/kewin.jpg" width="30" /></a>

          <div class="me_too">
            <div class="inset">
              <div class="me_too_action active">
                <a href="/" class="me_too_link" data-method="put" rel="nofollow" title="给这篇实践投票"><img alt="*" class="star" src="/images/sprite_screen.png" /><strong>0 次投票</strong></a>
              </div>
            </div>
          </div>

          <div class="topic_details">
            <a href="/" class="subject">RVM下遇到的openssl的问题解决分享</a>
            <div class="meta">
              <div>
                <a href="/" class="creator_name">kewin</a>
                分享于 18 天 前,
                <a href="/">0 条回复</a>, 
                <span>99 次浏览</span>
              </div>
            </div>
            <div>
              <ul class="tags">
                <li><span class="user_flag"><a href="/">rvm</a></span></li>
                <li><span class="user_flag"><a href="/">openssl</a></span></li>
              </ul>
              <p>RVM下遇到的openssl的问题解决分享</p>
            </div>
        </div>
      </li>
      </ul>
      <ul class="list" id='list_menu_2' style='display:none'>
        <li class="clearfix episode_120">
          <a href="/" class="mini_profile_icon">
            <img alt="" height="30" src="/images/quate.jpg" width="30" />
          </a>

          <div class="me_too">
            <div class="inset">
              <div class="me_too_action active">
                <a href="/" class="me_too_link" data-method="put" rel="nofollow" title="给这篇实践投票"><img alt="*" class="star" src="/images/sprite_screen.png" /><strong>2 次投票</strong></a>
              </div>
            </div>
          </div>

          <div class="topic_details">
            <a href="/" class="subject">rails seed 中使用 paperclip 保存图片 </a>
            <div class="meta">
              <div>
                <a href="/" class="creator_name">vkill</a>
                分享于 16 天 前,
                <a href="/">2 条回复</a>, 
                <span>136 次浏览</span>
              </div>
            </div>
            <div>
              <ul class="tags">
                <li><span class="user_flag"><a href="/">paperclip</a></span></li>
              </ul>
              <p>rails seed 中使用 paperclip 保存图片 </p>
            </div>
          </div>
        </li>

        <li class="clearfix episode_111">
          <a href="/" class="mini_profile_icon"><img alt="" height="30" src="/images/profile.jpg" width="30" /></a>

          <div class="me_too">
            <div class="inset">
              <div class="me_too_action active">
                <a href="/" class="me_too_link" data-method="put" rel="nofollow" title="给这篇实践投票"><img alt="*" class="star" src="/images/sprite_screen.png" /><strong>0 次投票</strong></a>
              </div>
            </div>
          </div>

          <div class="topic_details">
            <a href="/" class="subject">memcached 深度解析（一）</a>
            <div class="meta">
              <div>
                <a href="/" class="creator_name">yuren</a>
                分享于 大约一个月 前,
                <a href="/">1 条回复</a>, 
                <span>217 次浏览</span>
              </div>
            </div>
            <div>
              <ul class="tags">
                <li><span class="user_flag"><a href="/">memcached</a></span></li>
              </ul>
              <p>memcached 是以LiveJournal 旗下Danga Interactive 公司的Brad Fitzpatric 为首开发的一款软件。现在已成为 mixi、 hatena、 Facebook、 Vox、LiveJournal等众多服务中提高Web应用扩展性的重要因素。</p>
            </div>
          </div>
        </li>
      </ul>
      
      <ul id='list_menu_3' class='list' style='display:none'>
        <li class='clearfix'>
          请留言
        </li>
      </ul>
      <div class="pagination">
        <span class="previous_page disabled">上一页</span> <em>1</em> <a rel="next" href="/">2</a> <a href="/">3</a> <a href="/">4</a> <a href="/">5</a> <a href="/">6</a> <a href="/">7</a> <a href="/">8</a> <a href="/">9</a> <a href="/">10</a> <a class="next_page" rel="next" href="/">下一页</a>
			</div>

		</div>
				
	</div>
