    
    
    <div id="mainCol">
      <div class="clearfix">
        <h2>最新实践分享<span class="kicker">最近发布的敏捷开发最佳实践 <em style="float:right;"><a href="/episodes">浏览更多</a></em></span></h2>
        <ul class="latest">
          <li>
            <a title="rails seed 中使用 paperclip 保存图片 " class="link" href="/episodes/120-">
              <span title="rails seed 中使用 paperclip 保存图片 " class="title"><span>rails seed 中使用 paperclip 保存图片 </span></span>
              <span class="details">2 个回复, 136 次浏览</span>
            </a>
            <div class="contributor">
              <span class="user_flag">
                <a href="/accounts/vkill"><img alt="" height="20" src="http://0.gravatar.com/avatar/6a3b78e05f20472aafc29aad3c4a6b4d.jpg" width="20" /></a>
                <a href="/accounts/vkill">vkill</a>
              </span>
            </div>
            <div class="tags">
              <span class="tag_flag">
                <a href="/tags/paperclip">paperclip</a> &nbsp;
              </span>
            </div>
          </li>

          <li>
            <a title="memcached 深度解析（二）" class="link" href="/episodes/112-memcached-Depth-analytical-02">
              <span title="memcached 深度解析（二）" class="title"><span>memcached 深度解析（二）</span></span>
              <span class="details">0 个回复, 176 次浏览</span>
            </a>
            <div class="contributor">
              <span class="user_flag">
                <a href="/accounts/yuren"><img alt="" height="20" src="http://www.gravatar.com/avatar/6aaf2a95cff2e01c2bb64b74115003c7.jpg" width="20" /></a>
                <a href="/accounts/yuren">yuren</a>
              </span>
            </div>
            <div class="tags">
              <span class="tag_flag">
                <a href="/tags/memcached">memcached</a> &nbsp;
              </span>
            </div>
          </li>
           <li>
            <a title="rails seed 中使用 paperclip 保存图片 " class="link" href="/episodes/120-">
              <span title="rails seed 中使用 paperclip 保存图片 " class="title"><span>rails seed 中使用 paperclip 保存图片 </span></span>
              <span class="details">2 个回复, 136 次浏览</span>
            </a>
            <div class="contributor">
              <span class="user_flag">
                <a href="/accounts/vkill"><img alt="" height="20" src="http://0.gravatar.com/avatar/6a3b78e05f20472aafc29aad3c4a6b4d.jpg" width="20" /></a>
                <a href="/accounts/vkill">vkill</a>
              </span>
            </div>
            <div class="tags">
              <span class="tag_flag">
                <a href="/tags/paperclip">paperclip</a> &nbsp;
              </span>
            </div>
          </li> 
        </ul>
      </div>

      <div class="clearfix">

      <h2>最新问题<span class="kicker">开发中遇到疑问吗？赶紧把你的问题和大家分享吧！ <em style="float:right;"><a href="/questions">浏览更多</a></em></span></h2>
      <ul class="latest">
        <li>
          <a title="Centos如何部署Rails3+MongoDB环境" class="link" href="/questions/124-">
            <span title="Centos如何部署Rails3+MongoDB环境" class="title"><span>Centos如何部署Rails3+MongoDB环境</span></span>
            <span class="details">2 个回答, 129 次浏览</span>
          </a>
          <div class="contributor">
            <span class="user_flag">
              <a href="/accounts/jesaica" title="查看{{name}}的个人资料页"><img alt="" height="20" src="http://www.gravatar.com/avatar/c620e701a4d7c47617262ed96c2999bd.jpg" width="20" /></a>
              <a href="/accounts/jesaica" title="查看{{name}}的个人资料页">jesaica</a>
            </span>
          </div>
          <div class="tags">
            <span class="tag_flag">
              <a href="/tags/rails3">rails3</a> &nbsp;
            </span>
            <span class="tag_flag">
              <a href="/tags/gem">gem</a> &nbsp;
            </span>
            <span class="tag_flag">
              <a href="/tags/mongodb">mongodb</a> &nbsp;
            </span>
          </div>
        </li>
        <li>
          <a title="禁用cookie的浏览器如何读取用户信息" class="link" href="/questions/115-">
            <span title="禁用cookie的浏览器如何读取用户信息" class="title"><span>禁用cookie的浏览器如何读取用户信息</span></span>
            <span class="details">0 个回答, 140 次浏览</span>
          </a>
          <div class="contributor">
            <span class="user_flag">
              <a href="/accounts/minix" title="查看{{name}}的个人资料页"><img alt="" height="20" src="http://1.gravatar.com/avatar/f6ec1c67c60ffc83c20535782845783b.jpg?alt=minix&amp;s=20" width="20" /></a>
              <a href="/accounts/minix" title="查看{{name}}的个人资料页">minix</a>
            </span>
          </div>
          <div class="tags">
            <span class="tag_flag">
              <a href="/tags/rails?nav=questions">rails</a> &nbsp;
            </span>
          </div>
        </li>
        <li>
          <a title="Centos如何部署Rails3+MongoDB环境" class="link" href="/questions/124-">
            <span title="Centos如何部署Rails3+MongoDB环境" class="title"><span>Centos如何部署Rails3+MongoDB环境</span></span>
            <span class="details">2 个回答, 129 次浏览</span>
          </a>
          <div class="contributor">
            <span class="user_flag">
              <a href="/accounts/jesaica" title="查看{{name}}的个人资料页"><img alt="" height="20" src="http://www.gravatar.com/avatar/c620e701a4d7c47617262ed96c2999bd.jpg" width="20" /></a>
              <a href="/accounts/jesaica" title="查看{{name}}的个人资料页">jesaica</a>
            </span>
          </div>
          <div class="tags">
            <span class="tag_flag">
              <a href="/tags/rails3">rails3</a> &nbsp;
            </span>
            <span class="tag_flag">
              <a href="/tags/gem">gem</a> &nbsp;
            </span>
            <span class="tag_flag">
              <a href="/tags/mongodb">mongodb</a> &nbsp;
            </span>
          </div>
        </li>
      </ul>
    </div>

     <div class="clearfix">
      <h2>活跃用户<span class="kicker">参与到网站当中，分享你的最佳实践、回答他人的问题、添加回复等等都可以给你带来积分！</span></h2>
      <br />
      <ul class="betatesters">
        <li>
          <span class="user_flag">
            <a href="/accounts/jerry" title="查看{{name}}的个人资料页"><img alt="" height="20" src="http://www.gravatar.com/avatar/6746ab5a9b678fe35b7dab847b24cbea.jpg?alt=jerry&amp;s=20" width="20" /></a>
            <a href="/accounts/jerry" title="查看{{name}}的个人资料页">jerry</a>
          </span>
        </li>
        <li>
          <span class="user_flag">
            <a href="/accounts/git8023" title="查看{{name}}的个人资料页"><img alt="" height="20" src="http://1.gravatar.com/avatar/99971d50632ba736ad33182e100d1c98.jpg?alt=git8023&amp;s=20" width="20" /></a>
            <a href="/accounts/git8023" title="查看{{name}}的个人资料页">git8023</a>
          </span>
        </li>
      </ul>
    </div>

    <div class="bookmarks">
      <ul class="navigation">
        <li class="active" id='menu_1'>
          <span>按分享时间浏览</span>
        </li>
        <li id='menu_2'>
          <span>按浏览次数浏览</span>
        </li>
        <li id='menu_3'>
          <span>测试菜单</span>
        </li>
      </ul>
    </div>

    <div class="section">
      <ul class='list' id='list_menu_1'>
        <li class="clearfix episode_119">
          <a href="/accounts/vkill" class="mini_profile_icon"><img alt="" height="30" src="http://0.gravatar.com/avatar/6a3b78e05f20472aafc29aad3c4a6b4d.jpg?alt=vkill&amp;s=30" width="30" /></a>

          <div class="me_too">
            <div class="inset">
              <div class="me_too_action active">
                <a href="/episodes/119-/votes/confirm?type=episode" class="me_too_link" data-method="put" rel="nofollow" title="给这篇实践投票"><img alt="*" class="star" src="/images/sprite_screen.png?1303661331" /><strong>0 次投票</strong></a>
              </div>
            </div>
          </div>

          <div class="topic_details">
            <a href="/episodes/119-" class="subject">rake auto generate i18n.zh-CN.activerecord </a>
            <div class="meta">
              <div>
                <a href="/accounts/vkill" class="creator_name">vkill</a>
                分享于 16 天 前,
                <a href="/episodes/119-#comments">0 条回复</a>, 
                <span>92 次浏览</span>
              </div>
            </div>
            <div>
              <ul class="tags">
                <li><span class="user_flag"><a href="/tags/rake%20activerecord">rake activerecord</a></span></li>
              </ul>
              <p>rails中自动生成 config/locales/zh-CN.model.yml</p>
            </div>
          </div>
        </li>
        <li class="clearfix episode_118">
          <a href="/accounts/kewin" class="mini_profile_icon"><img alt="" height="30" src="http://0.gravatar.com/avatar/982c2af3279a52b77385c8615662630b.jpg?alt=kewin&amp;s=30" width="30" /></a>

          <div class="me_too">
            <div class="inset">
              <div class="me_too_action active">
                <a href="/episodes/118-/votes/confirm?type=episode" class="me_too_link" data-method="put" rel="nofollow" title="给这篇实践投票"><img alt="*" class="star" src="/images/sprite_screen.png?1303661331" /><strong>0 次投票</strong></a>
              </div>
            </div>
          </div>

          <div class="topic_details">
            <a href="/episodes/118-" class="subject">RVM下遇到的openssl的问题解决分享</a>
            <div class="meta">
              <div>
                <a href="/accounts/kewin" class="creator_name">kewin</a>
                分享于 18 天 前,
                <a href="/episodes/118-#comments">0 条回复</a>, 
                <span>99 次浏览</span>
              </div>
            </div>
            <div>
              <ul class="tags">
                <li><span class="user_flag"><a href="/tags/rvm">rvm</a></span></li>
                <li><span class="user_flag"><a href="/tags/openssl">openssl</a></span></li>
              </ul>
              <p>RVM下遇到的openssl的问题解决分享</p>
            </div>
        </div>
      </li>
      </ul>
      <ul class="list" id='list_menu_2' style='display:none'>
        <li class="clearfix episode_120">
          <a href="/accounts/vkill" class="mini_profile_icon">
            <img alt="" height="30" src="http://0.gravatar.com/avatar/6a3b78e05f20472aafc29aad3c4a6b4d.jpg" width="30" />
          </a>

          <div class="me_too">
            <div class="inset">
              <div class="me_too_action active">
                <a href="/episodes/120-/votes/confirm?type=episode" class="me_too_link" data-method="put" rel="nofollow" title="给这篇实践投票"><img alt="*" class="star" src="/images/sprite_screen.png?1303661331" /><strong>2 次投票</strong></a>
              </div>
            </div>
          </div>

          <div class="topic_details">
            <a href="/episodes/120-" class="subject">rails seed 中使用 paperclip 保存图片 </a>
            <div class="meta">
              <div>
                <a href="/accounts/vkill" class="creator_name">vkill</a>
                分享于 16 天 前,
                <a href="/episodes/120-#comments">2 条回复</a>, 
                <span>136 次浏览</span>
              </div>
            </div>
            <div>
              <ul class="tags">
                <li><span class="user_flag"><a href="/tags/paperclip">paperclip</a></span></li>
              </ul>
              <p>rails seed 中使用 paperclip 保存图片 </p>
            </div>
          </div>
        </li>

        <li class="clearfix episode_111">
          <a href="/accounts/yuren" class="mini_profile_icon"><img alt="" height="30" src="http://www.gravatar.com/avatar/6aaf2a95cff2e01c2bb64b74115003c7.jpg?alt=yuren&amp;s=30" width="30" /></a>

          <div class="me_too">
            <div class="inset">
              <div class="me_too_action active">
                <a href="/episodes/111-memcached-Depth-analytical-01/votes/confirm?type=episode" class="me_too_link" data-method="put" rel="nofollow" title="给这篇实践投票"><img alt="*" class="star" src="/images/sprite_screen.png?1303661331" /><strong>0 次投票</strong></a>
              </div>
            </div>
          </div>

          <div class="topic_details">
            <a href="/episodes/111-memcached-Depth-analytical-01" class="subject">memcached 深度解析（一）</a>
            <div class="meta">
              <div>
                <a href="/accounts/yuren" class="creator_name">yuren</a>
                分享于 大约一个月 前,
                <a href="/episodes/111-memcached-Depth-analytical-01#comments">1 条回复</a>, 
                <span>217 次浏览</span>
              </div>
            </div>
            <div>
              <ul class="tags">
                <li><span class="user_flag"><a href="/tags/memcached">memcached</a></span></li>
              </ul>
              <p>memcached 是以LiveJournal 旗下Danga Interactive 公司的Brad Fitzpatric 为首开发的一款软件。现在已成为 mixi、 hatena、 Facebook、 Vox、LiveJournal等众多服务中提高Web应用扩展性的重要因素。</p>
            </div>
          </div>
        </li>
      </ul>
      
      <ul id='list_menu_3' class='list' style='display:none'>
        <li class='clearfix'>
          请留言
        </li>
      </ul>
      <div class="pagination">
        <span class="previous_page disabled">上一页</span> <em>1</em> <a rel="next" href="/episodes?page=2">2</a> <a href="/episodes?page=3">3</a> <a href="/episodes?page=4">4</a> <a href="/episodes?page=5">5</a> <a href="/episodes?page=6">6</a> <a href="/episodes?page=7">7</a> <a href="/episodes?page=8">8</a> <a href="/episodes?page=9">9</a> <a href="/episodes?page=10">10</a> <a class="next_page" rel="next" href="/episodes?page=2">下一页</a></div>

    <div class="clearfix">
      <%= yield %>
    </div>
      </div>
				
    </div>
