<div id="mainCol">
<div class="clearfix">

<h2>最新问题<span class="kicker">开发中遇到疑问吗？赶紧把你的问题和大家分享吧！ <em style="float:right;"><a href="/">浏览更多</a></em></span></h2>
<ul class="latest">
  <li>
    <a title="Centos如何部署Rails3+MongoDB环境" class="link" href="/">
      <span title="Centos如何部署Rails3+MongoDB环境" class="title"><span>Centos如何部署Rails3+MongoDB环境</span></span>
      <span class="details">2 个回答, 129 次浏览</span>
    </a>
    <div class="contributor">
      <span class="user_flag">
        <a href="/" title="查看{{name}}的个人资料页"><img alt="" height="20" src="/images/jesaica.jpg" width="20" /></a>
        <a href="/" title="查看{{name}}的个人资料页">jesaica</a>
      </span>
    </div>
    <div class="tags">
      <span class="tag_flag">
        <a href="/">rails3</a> &nbsp;
      </span>
      <span class="tag_flag">
        <a href="/">gem</a> &nbsp;
      </span>
      <span class="tag_flag">
        <a href="/">mongodb</a> &nbsp;
      </span>
    </div>
  </li>
  <li>
    <a title="禁用cookie的浏览器如何读取用户信息" class="link" href="/">
      <span title="禁用cookie的浏览器如何读取用户信息" class="title"><span>禁用cookie的浏览器如何读取用户信息</span></span>
      <span class="details">0 个回答, 140 次浏览</span>
    </a>
    <div class="contributor">
      <span class="user_flag">
        <a href="/" title="查看{{name}}的个人资料页"><img alt="" height="20" src="/images/minix.jpg" width="20" /></a>
        <a href="/" title="查看{{name}}的个人资料页">minix</a>
      </span>
    </div>
    <div class="tags">
      <span class="tag_flag">
        <a href="/">rails</a> &nbsp;
      </span>
    </div>
  </li>
  <li>
    <a title="Centos如何部署Rails3+MongoDB环境" class="link" href="/">
      <span title="Centos如何部署Rails3+MongoDB环境" class="title"><span>Centos如何部署Rails3+MongoDB环境</span></span>
      <span class="details">2 个回答, 129 次浏览</span>
    </a>
    <div class="contributor">
      <span class="user_flag">
        <a href="/" title="查看{{name}}的个人资料页"><img alt="" height="20" src="/images/jesaica.jpg" width="20" /></a>
        <a href="/" title="查看{{name}}的个人资料页">jesaica</a>
      </span>
    </div>
    <div class="tags">
      <span class="tag_flag">
        <a href="/">rails3</a> &nbsp;
      </span>
      <span class="tag_flag">
        <a href="/">gem</a> &nbsp;
      </span>
      <span class="tag_flag">
        <a href="/">mongodb</a> &nbsp;
      </span>
    </div>
  </li>
</ul>
</div>
</div>