<div id="mainCol">
  <div class="clearfix">
    <h2>
			最新实践分享
			<span class="kicker">
				最近发布的敏捷开发最佳实践 <em style="float:right;"><a href="/">浏览更多</a></em>
			</span>
		</h2>
    <ul class="latest">
      <li>
        <a title="rails seed 中使用 paperclip 保存图片 " class="link" href="/">
          <span title="rails seed 中使用 paperclip 保存图片 " class="title">
						<span>rails seed 中使用 paperclip 保存图片 </span>
					</span>
          <span class="details">2 个回复, 136 次浏览</span>
        </a>
        <div class="contributor">
          <span class="user_flag">
            <a href="/">
							<img alt="" height="20" src="/images/person.jpg" width="20" />
						</a>
            <a href="/">vkill</a>
          </span>
        </div>
        <div class="tags">
          <span class="tag_flag">
            <a href="/">paperclip</a> &nbsp;
          </span>
        </div>
      </li>

      <li>
        <a title="memcached 深度解析（二）" class="link" href="/">
          <span title="memcached 深度解析（二）" class="title"><span>memcached 深度解析（二）</span></span>
          <span class="details">0 个回复, 176 次浏览</span>
        </a>
        <div class="contributor">
          <span class="user_flag">
            <a href="/">
							<img alt="" height="20" src="/images/quate.jpg" width="20" />
						</a>
            <a href="">yuren</a>
          </span>
        </div>
        <div class="tags">
          <span class="tag_flag">
            <a href="">memcached</a> &nbsp;
          </span>
        </div>
      </li>
       <li>
        <a title="rails seed 中使用 paperclip 保存图片 " class="link" href="/">
          <span title="rails seed 中使用 paperclip 保存图片 " class="title"><span>rails seed 中使用 paperclip 保存图片 </span></span>
          <span class="details">2 个回复, 136 次浏览</span>
        </a>
        <div class="contributor">
          <span class="user_flag">
            <a href="/">
							<img alt="" height="20" src="/images/vkill.jpg" width="20" />
						</a>
            <a href="/">vkill</a>
          </span>
        </div>
        <div class="tags">
          <span class="tag_flag">
            <a href="/">paperclip</a> &nbsp;
          </span>
        </div>
      </li> 
    </ul>
  </div>

  <div class="clearfix">
	</div>
</div>
	
	