<script type='text/javascript' src='/javascripts/swfobject.js'></script>

<div class='section'>
  <h2>Charts</h2>
  <ul class='list'>
    <% @charts.each do |chart| %>
    <li class='clearfix'> <%= chart.html_safe %></li>
    <% end %>
  </ul>
  <%= will_paginate @charts, :previous_label => '上一页', :next_label => '下一页' %>
</div>
