<script type='text/javascript' src='/javascripts/swfobject.js'></script>

 
<div class='wrapper'>
  <h2>Charts</h2>

  <%= @line.html_safe %>
  <%= @pie.html_safe %>
  <%= @graph.html_safe %>
  <%= @line_dot.html_safe %>

</div>
